<!DOCTYPE html>
<html>
<head>
	<title>Web Project - YourRoom</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width , initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8625eebbbc.js" crossorigin="anonymous"></script>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body id="main">
	<input type="checkbox" id="menuicon">
	<label for="menuicon">
		<span></span>
		<span></span>
		<span></span>
	</label>	
	<nav class="nav">
		<div class="nav__logo">
			<h2>Hello Your Rooms</h2>

		</div>	
	<ul class="nav__menu">
		<li><a href="index.html">Home</a></li>
		<li><a href="Rooms.html">Rooms</a></li>
		<li><a href="">two</a></li>
		<li><a href="">three</a></li>
		<li><a href="">four</a></li>
	</ul>
		<ul class="nav__links">
			<i class="fas fa-bug"></i>
			<i class="fas fa-apple-alt"></i>
		</ul>
	</nav>

	<!-- js로 옮기기 -->
	<section class="__center">
		<h1>LOGO TEXT</h1>
		<form method="post" id="authForm" name="authForm" action="http://localhost/Rooms.html">
			<!-- method :전송방식->post , action : 로그인 -->
			<div class="input__area">
				<input type="text" id="loginId" name="loginId" placeholder="ID">
				<!-- type = text or email -->
				<label for="loginId">ID</label>
			</div>
			<div class="input__area">
				<input type="Password" id="loginPw" name="Password" placeholder="Password">
				<label for="loginPw">Password</label>
			</div>
			<!-- <button type="submit" disabled >Login</button> -->
			<div class="button__area">
				<button type="submit">Login</button>
			</div>
			
<!-- 			<div>
				<input type="checkbox" id="keepLogin" name="keepLogin">
				<label for="keepLogin"><span>로그인 상태 유지</span></label>
				일정시간이후에 로그아웃하게 만들어야함
			</div> -->
		</form>
			<div class="__caption">
				<a href="">Forgot Password?</a>
			</div>

	</section>
</body>
</html>